@use 'config';
@use 'fonts';

p {
    font-family: 'nunito';
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.8;
    padding: 1em 0;
    color: #313131;
}

h2 {
    font-family: 'oswald';
    font-weight: 800;
    letter-spacing: 1.4;
    font-size: 3rem;
    padding: 1em 0;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: auto auto;
}